<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Типы инструмента</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header th:replace="~{base :: header}"></header>

<div class="mainContent" th:block="content">
    <div class="titleMainContent">
        <p>Типы инструмента</p>
    </div>
    <div class="centerContent">
        <div class="buttonNav">
            <a th:href="@{/}">Вернуться назад</a>
        </div>
        <div class="listContent">
            <table class="tableMain">
                <thead class="tableHead">
                <tr>
                    <th>No.</th>
                    <th>Название типа</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody class="tableBody">
                <tr th:each="toolType, typeCount : ${toolTypes}">
                    <td th:text="${typeCount.count}">Value</td>
                    <td th:text="${toolType.getName()}">Value</td>
                    <td><a th:href="@{/tooltype/{id}(id=${toolType.getId()})}"
                           th:text="Подробнее">toolType</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="buttonEdit">
            <a href="/tooltype/new">Создать новый тип</a>
        </div>
    </div>
</div>

<footer th:replace="~{base :: footer}"></footer>

</body>
</html>