<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>база</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="content-wrapper">
    <header th:fragment="header">
        <div class="logo">
            <a th:href="@{/}">
                <img src="/img/logo1.png" alt="Logo" />
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/ceh">Список цехов</a></li>
                <li><a href="/closet">Список шкафов</a></li>
                <li><a href="/closettype">Типы шкафов</a></li>
                <li><a href="/tool">Инструмент</a></li>
                <li><a href="/tooltype">Типы инструмента</a></li>
            </ul>
        </nav>
    </header>

    <div class="mainContent" th:block="content">
        <!-- Здесь будет содержимое страниц, которые наследуются -->
    </div>

    <footer th:fragment="footer">
        <div class="footer-container">
            <p>2024 Maxim Zinoviev</p>
        </div>
    </footer>
</div>
</body>
</html>