<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Цех</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header th:replace="~{base :: header}"></header>

<div class="mainContent" th:block="content">
    <div class="titleMainContent">
        <p>Страница цеха</p>
    </div>

    <div class="centerContent">
        <div class="buttonNav">
            <a th:href="@{/ceh}">Вернуться назад</a>
        </div>

        <div class="listContent">

            <table class="tableMain">
                <tbody class="tableBody">
                <!--<tr>
                    <td class="tdName" th:text="${'Идентификатор:'}">VALUE</td>
                    <td th:text="${ceh.getId()}">Value</td>
                </tr>-->
                <tr>
                    <td class="tdName" th:text="${'Название:'}">VALUE</td>
                    <td th:text="${ceh.getName()}">Value</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="buttonEdit">
            <a th:href="@{/ceh/{id}/edit(id=${ceh.getId()})}">Редактировать тип</a>
            <br>
            <br>
            <button id="btnPressed" class="formButton">Удалить цех</button>
            <form class="formHidden" th:method="DELETE" th:action="@{/ceh/{id}(id=${ceh.getId()})}">
                <input id="btnHidden" class="formButtonHidden" type="submit" value="Удалить цех"/>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{base :: footer}"></footer>

<script type="text/javascript" th:src="@{/js/deleteConfirm.js}"></script>

</body>
</html>