<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Весь инструмент</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header th:replace="~{base :: header}"></header>

<div class="mainContent" th:block="content">
    <div class="titleMainContent">
        <p>Весь инструмент</p>
    </div>
    <div class="centerContent">
        <div class="buttonNav">
            <a th:href="@{/}">Вернуться назад</a>
        </div>
        <div class="listContent">
        <table class="tableMain">
            <thead class="tableHead">
            <tr>
                <th>No.</th>
                <th>Обозначение</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody class="tableBody">
            <tr th:each="tool, countTool : ${tools}">
                <td th:text="${countTool.count}">Value</td>
                <td th:text="${tool.getName()}">Value</td>
                <td><a th:href="@{/tool/{id}(id=${tool.getId()})}"
                       th:text="Подробнее">tool</a></td>
            </tr>
            </tbody>
        </table>
        </div>

        <div class="buttonEdit">
            <a href="/tool/new">Создать инструмент</a>
        </div>
    </div>
</div>

<footer th:replace="~{base :: footer}"></footer>


</body>
</html>